@import "colors";

.pagination {
  padding-top: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px !important;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 1.8em;
    border-radius: 100%;
    border: 1px solid $primary;
    transition: .3s all;
    cursor: pointer;
    color: $primary;
  }
}

.selected {
  background: $primary;
  color: white !important;
}