.layout__orders {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow-y: auto;
  height: 88.9vh;

  .orders__card {
    display: grid;
    grid-gap: 5px;
    height: 100%;
  }
}