@import "colors";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .line {
    position: absolute;
    background-color: $primary;
  }

  .horizontal {
    width: 100vw;
    height: 5px;
    bottom: 20px;
  }

  .vertical {
    height: 100vh;
    width: 5px;
    right: 20px;
  }

  .container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 40px;
      color: $contrast;
    }

    a {
      transform: translate(44px, 5px);
      text-decoration: none;
      color: $primary;
      font-style: italic;
      font-size: 12px;
    }
  }
}