@import "colors";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(283deg, $primary 0%, $contrast 100%);

  .container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 40px;
      color: $secondary;
    }

    a {
      transform: translate(34px, 5px);
      text-decoration: none;
      color: $secondary;
      font-size: 12px;
    }
  }
}