@import "colors";

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $contrast;
  background: white;

  .container {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 3.5rem;
    }

    a {
      transform: translate(2px, 5px);
      text-decoration: none;
      font-size: 1.1rem;
    }
  }
}