.form {
  position: relative;
  margin: 5px 0;
  font-size: 1.2em;

  input {
    width: 100%;
    border: none;
    padding: 8px 0 3px 8px;
    height: 40px;
    font-size: 1.5rem;
    border: 1px solid black;

    &:focus {
      outline: none;
    }

    &:focus + .placeholder,
    &:not(:focus):valid + .placeholder {
      transform: translate(-3px, -20px);
      font-size: 12px;
      opacity: 1;
      font-style: italic;
      background-color: white;
      padding: 0 5px;
    }
  }

  .placeholder {
    position: absolute;
    pointer-events: none;
    left: 8px;
    bottom: 12px;
    font-size: 1.3rem;
    transition: 0.3s ease all;
    opacity: .5;
  }

  .errors {
    margin: 0;
    font-size: 10px;
    color: white;
    position: absolute;
    background: black;
    left: 0;
    z-index: 9999;
    padding: 10px 10px 10px 25px;
    min-width: -moz-max-content;
    min-width: max-content;
    top: 45px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
}