@import 'colors';

.profile {
  display: flex;
  align-items: center;

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-right: 10px;

    h4 {
      color: $primary;
      margin: 0;
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
    }
  }

  img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
}