@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;900&display=swap');
@import 'colors';

html, body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: $contrast;

  *, *::after, *::before {
    box-sizing: border-box;
  }
}